:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.wrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 20px;

  a {
    color: inherit;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.stadium-img {
  width: 100%;
  cursor: not-allowed;
}

.sectors-btn {
  position: absolute;

  width: 325px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-52%);

  & button {
    width: 80px;
    height: 74px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.sidebar {
  position: absolute;
  height: 100%;
  width: 300px;
  right: 0;
  border-left: 1px solid gray;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 1;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sector-places {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  background-color: #8f85b9;
}
.order-btn {
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 20px;
  padding: 15px 20px;
  width: 250px;
  cursor: pointer;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(164, 83, 193, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  &:disabled {
    filter: grayscale(100%);
    color: white;
  }
}

.close-sidebar-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: red;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  outline: none;
  border: none;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sector-places-numbers {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
